<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter. It's what's happeing.</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex items-center justify-center w-full h-full">
        <div class="p-20 flex justify-center items-center w-full h-full">
          <div class="flex-1 mt-20 mr-20">
            <h1 class="text-9xl font-black">Twitter</h1>
          </div>
          <div class="flex-1 ml-10 mb-10">
            <h2 class="text-4xl my-10 font-extrabold">Happening now</h2>
            <h3 class="text-xl mb-3 font-extrabold">Join today.</h3>
            <div>
                <button class="my-3 outline outline-1 bg-white-500 hover:bg-gray-300 text-black font-medium py-3 px-8 text-sm rounded-full flex items-center">
                    <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="GoogleLogo" class="h-5 w-5 mr-2">
                    Login with Google
                </button>
                <div class="flex items-center justify-center">
                    <div class="flex-1 border-t border-gray-500 my-2"></div>
                    <p class="mx-2">or</p>
                    <div class="flex-1 border-t border-gray-500 my-2"></div>
                </div>
                <button class="my-3 bg-blue-500 hover:bg-blue-700 text-white font-medium py-3 px-6 text-sm rounded-full">Create account</button>
                <p class="text-xs mb-10">By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.</p>
                <h3 class="text-base font-extrabold">Already have an account?</h3>
                <button class="my-5 outline outline-1 bg-white-500 hover:bg-slate-300 text-sky-700 font-medium py-3 px-12 text-sm rounded-full">Sign in</button>
            </div>
        </div>
        </div>
    </div>      
</body>
</html>